<div style="grid-row: 1/2; display: grid; grid-template-columns: 1fr 50px;" id="jumbo">
	<div style="grid-column: 1/2;">		
	<h1>Dynamics of Language Lab HUJI</h1>
	</div>
	<div style="grid-column: 2/3;">
	<a href="http://new.huji.ac.il/"><img src="{{ .Site.BaseURL }}images/logo.png" style="margin-top: 15px;"></a>
	</div>
</div>
<div style="grid-row: 2/3;" id="menu">
	<a class="menuLink" href="{{ .Site.BaseURL }}">Home</a> |
	<a class="menuLink" href="{{ .Site.BaseURL }}people">People</a> |
	<a class="menuLink" href="{{ .Site.BaseURL }}publications">Publications</a> |
	<a class="menuLink" href="{{ .Site.BaseURL }}projects">Projects</a> |
	<a class="menuLink" href="{{ .Site.BaseURL }}eventsschedule">Events schedule</a> |
	<a class="menuLink" href="{{ .Site.BaseURL }}currentevents">Current events</a> |
	<a class="menuLink" href="{{ .Site.BaseURL }}contactinfo">Contact info</a>
</div>